.page {
  margin: 0 auto;
  margin-top: 2vh;
  width: 600px;
  height: 93vh;
  padding: 15px;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
  background-color: white;
  overflow: scroll;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /*border-radius: 4px 4px 4px 4px;*/
}
